    <h3>Bienvenido a <%= title %></h3>
	El portal donde podrá crear sus propios juegos!
    <p><strong>Nombre</strong> René Paredes </p> 
    <p> Este es el curriculum de un currito de las nuevas tecnologias </p> 
	
    <img src="images/Foto_Autor1.png" 
	id="foto_currito" 
	width="320" 
	height="240">
 

